.listContainer {
  flex: 1;
  flex-direction: column;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 0px 10px;
}
.listItem {
  height: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #eadca6;
  padding: 10px;
}
.listItemNumber {
  width: 5%;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 18px;
}
.listItemWord {
  width: 20%;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 18px;
}
.listItemContent {
  width: 60%;
  height: 50px;
  display: flex;
  font-size: 18px;
  align-items: center;
}
.listItemIcons {
  width: 15%;
  height: 50px;
  display: flex;
  align-items: center;
}
.selectDiv {
  display: none;
}

@media screen and (max-width: 1024px) {
  .buttonGroups {
    display: none;
  }
  .listItem {
    max-width: 100% !important;
  }
  .listItemNumber {
    font-size: 14px;
  }
  .listItemWord {
    font-size: 14px;
  }
  .listItemContent {
    font-size: 14px;
  }
  .selectDiv {
    display: block;
  }
}
