.listContainer {
  flex: 1;
  flex-direction: column;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 0px 10px;
}
.listItem {
  width: 70%;
  height: 50px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #eadca6;
  padding: 10px;
}
.listItemNumber {
  width: 5%;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 1vw;
}
.listItemWord {
  width: 20%;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 1vw;
}
.listItemContent {
  width: 60%;
  height: 50px;
  display: flex;
  align-items: center;
}
.listItemIcons {
  width: 15%;
  height: 50px;
  display: flex;
  align-items: center;
}
.btnAdd {
  width: 50px;
  height: 50px;
  background-color: "#58b368";
  padding: "10px";
  border-radius: "100%";
  cursor: "pointer";
  color: "white";
}
